<div fxFlex="100" fxLayoutAlign="space-between center" class="header">
    <span> The Meal DB</span>

    <div fxLayout="row" fxLayoutGap="12px">
        
        <a routerLink="/principal/home" routerLinkActive="router-link-active" >Home</a>
        <a routerLink="/principal/categorias" routerLinkActive="router-link-active" >Categorias</a>
        <a routerLink="/principal/areas" routerLinkActive="router-link-active" >Áreas</a>
        <a routerLink="/principal/pratos" routerLinkActive="router-link-active" >Pratos</a>
    
        
    </div>

    <div>
        <span> Carrinho de compras</span>
    </div>
</div>